.profile {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.profile.small {
    flex-direction: row;
}

.profile--image-wrapper {
    margin-right: 1rem;
    width: 150px;
    height: auto;
}

.profile--image {
    width: 100%;
    height: 150px;
}

.profile--content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    position: relative;
}

.profile--content-name {
    width: calc(100% - 60px - 5px);
    font-size: 2.5rem;
}

.profile--icons {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    display: flex;
}

.profile--icons svg {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.profile.small .profile--icons svg {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.profile--icons svg:hover {
    color: #8eaf28;
    cursor: pointer;
}

@media (min-width: 576px) {
    .profile {
        flex-direction: row;
    }

    .profile--content {
        width: calc(100% - 150px - 1rem);
    }
}