.sidebar--wrapper {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    z-index: 1000;
}

.sidebar {
    background-color: #222326;
    color: #fff;
    height: 100vh;
    width: 100vw;
    margin-left: -100vw;
    transition: margin-left .6s ease;
    overflow: auto;
    padding: 15px 15px;
    border-right: 1px solid #616467;
}

.sidebar.active {
    margin-left: 0;
}

.sidebar--wrapper.active .sidebar--toggle svg {
    color: #8eaf28;
}

.sidebar--toggle {
    padding: 5px;
}

.sidebar.active + .sidebar--toggle {
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar--toggle svg {
    color: #fff;
    width: 48px;
    height: 40px;
}

.sidebar--toggle svg:hover {
    color: #8eaf28;
    cursor: pointer;
}

@media (min-width: 576px) {
    .sidebar {
        width: 370px;
        margin-left: -370px;
    }
}