.sidebar--wrapper {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    z-index: 1000;
    height: 100%;
}

.sidebar {
    background-color: #222326;
    color: #fff;
    height: 100%;
    width: 370px;
    margin-left: -370px;
    transition: margin-left .6s ease;
    overflow: auto;
    padding: 15px 15px;
    border-right: 1px solid #616467;
}

.sidebar.active {
    margin-left: 0;
}

.sidebar--wrapper.active .sidebar--toggle svg {
    color: #8eaf28;
}

.sidebar--toggle {
    padding: 5px;
}

.sidebar--toggle svg {
    color: #fff;
    width: 68px;
    height: 60px;
}

.sidebar--toggle svg:hover {
    color: #8eaf28;
    cursor: pointer;
}

@media (min-width: 576px) {
    .sidebar {
    }
}