.track {
    position: relative;
    border: 1px solid #222326;
}

.track--image {
    width: 210px;
    height: 210px;
    object-fit: cover;
}

.track--label {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    padding: 5px 15px;
    background-color: #000000bb;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

.track--toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #8eaf28ee;
    text-align: center;
    font-size: 2rem;
    animation: fade-out;
    animation-duration: .5s;
}

.track--toggle svg {
    width: 64px;
    height: 64px;
}

.track:hover .track--toggle,
.track.playing .track--toggle {
    opacity: 1;
    animation: fade-in;
    animation-duration: .5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
