.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}

.home--logo {
    margin-bottom: 40px;
    font-size: 3.5em;
    width: 100%;
}

.home--search {
    width: 100%;
}

.home--header {
    width: 100%;
    text-align: center;
}

/*.home--header-section {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    width: 100%;
}*/

.home--artist-profile {
    margin: 50px 0 30px 0;
}

.home--tracks-gallery + .home--related-artists {
    margin-top: 40px;
}

@media (min-width: 576px) {
    .home--logo {
        font-size: 6em;
    }

    .home--tracks-gallery + .home--related-artists {
        margin-top: 0;
        padding-left: 40px;
    }
}