body,
html,
#root {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f0f0f;
    color: #fff;
}

html {
    font-size: 16px;
}

/* Sticky footer styles #8eaf28
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 180px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px; /* Set the fixed height of the footer here */
    background-color: #222326;
}